{% extends 'crm/baseCrm.html' %}
{% load tz %}
{% block content %}
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <div class="col-md-6">
                <div class="card card-info">
                    <div class="card-header">
                    <h3 class="card-title">Factura</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                    <!-- form start -->
                    <div class="form-group">
                    </div>
                        <form action="{% url 'crm:facturacion-cliente' %}" method="post" id="facturacionCliente">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-6">
                                <!-- text input -->
                                <div class="form-group">
                                    <label>OCC</label>
                                    <input type="text" class="form-control" placeholder="Enter ..."  name="occ" id="occ" required>
                                </div>
                                </div>
                                <div class="col-sm-6">
                                <div class="form-group">
                                    <label>ID Usuario</label>
                                    <input type="text" class="form-control" placeholder="Enter ..." name="idUsuario" id="idUsuario" required>
                                </div>
                                </div>
                            </div>
                            <span class="input-group-append">
                            <button type="submit" class="btn btn-info btn-flat">Buscar</button>
                            </span>
                        <!-- /.card-body -->
                        </form>
                    </div>
                </div>
            </div>
            {% if messages %}
                {% include 'crm/includes/messages.html' %}
            {% endif %} 
        </div>
        {% if result %}
        <!-- /.row (main row) -->
        <div class="col-12">
            <!-- <div class="callout callout-info">
              <h5><i class="fas fa-info"></i> Note:</h5>
              This page has been enhanced for printing. Click the print button at the bottom of the invoice to test.
            </div> -->
            <!-- Main content -->
            <div class="invoice p-3 mb-3">
              <!-- title row -->
              <div class="row">
                <div class="col-12">
                  <h4>
                    <i class="fas fa-globe"></i> Mi Enlace Prefactura
                    <small class="float-right">México, D.F. <br> {{ date }} <br>Folio: <b>{{occ}}</b></small>
                  </h4>
                </div>
                <!-- /.col -->
              </div>
              <!-- info row -->
              <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                  <address>
                    <strong>{{name}}</strong><br>
                    {{address|safe}}<br>
                  </address>
                </div>
                <!-- /.col -->
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                  
                  <!-- <br>
                  <b>Order ID:</b> 4F3S8J<br>
                  <b>Payment Due:</b> 2/22/2014<br>
                  <b>Account:</b> 968-34567 -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <!-- Table row -->
              <div class="row">
                <div class="col-12 table-responsive">
                  <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Partida</th>
                            <th>Descripción</th>
                            <th>Cantidad</th>
                            <th>Precio unitario</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                            
                            {% for data in result %}
                            <tr>
                                <td>{{data.2}}</td>
                                <td>{{data.3}} {{data.4}} {{data.5}}</td>
                                <td><span class="tag tag-success">{{data.6}}</span></td>
                                <td>${{data.7}}</td>
                                <td>${{data.8}}</td>
                            </tr>
                            {% endfor %}
                            <tr>
                              <td></td>
                              <td>COSTO DE ENVÍO</td>
                              <td>1</td>
                              <td>${{costo_envio}}</td>
                              <td>${{costo_envio}}</td>
                            </tr>
                        </tbody>
                  </table>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
              <div class="row">
                <!-- /.col -->
                <div class="col-6"></div>
                <div class="col-6">

                  <div class="table-responsive">
                    <table class="table">
                      <tbody><tr>
                        <th style="width:50%">SUBTOTAL:</th>
                        <td>${{subtotal}}</td>
                      </tr>
                      <tr>
                        <th>IVA (%16)</th>
                        <td>${{iva}}</td>
                      </tr>
                      <!-- <tr>
                        <th>Shipping:</th>
                        <td>$5.80</td>
                      </tr> -->
                      <tr>
                        <th>Total:</th>
                        <td>${{total}}</td>
                      </tr>
                    </tbody></table>
                  </div>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
              <!-- this row will not appear when printing -->
              <div class="row no-print">
                <div class="col-12">
                  <a href="{% url 'crm:facturacion-cliente-exportar' occ=occ idUsuario=idUsuario %}"><button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                    <i class="fas fa-download"></i> Exportar CSV
                  </button></a>
                </div>
              </div>
            </div>
            <!-- /.invoice -->
          </div>
        
          {% endif %}
    </div><!-- /.container-fluid -->
</section>
{% endblock %}