{% extends 'crm/baseCrm.html' %}
{% load tz %}
{% block content %}
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <div class="col-md-6">
                <div class="card card-info">
                    <div class="card-header">
                    <h3 class="card-title">Orden de complra Enlace</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                    <!-- form start -->
                    <div class="form-group">
                    </div>
                        <form action="{% url 'crm:oce-detalle' %}" method="post" id="oceDetalle">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-6">
                                <!-- text input -->
                                <div class="form-group">
                                    <label>OCE</label>
                                    <input type="text" class="form-control" placeholder="Enter ..."  name="oce" id="oce" required>
                                </div>
                                </div>
                                <div class="col-sm-6">
                                <div class="form-group">
                                    <label>OCC</label>
                                    <input type="text" class="form-control" placeholder="Enter ..." name="occ" id="occ" required>
                                </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>ID Usuario</label>
                                        <input type="text" class="form-control" placeholder="Enter ..." name="idUsuario" id="idUsuario" required>
                                    </div>
                                    </div>
                            </div>
                            <span class="input-group-append">
                            <button type="submit" class="btn btn-info btn-flat">Buscar</button>
                            </span>
                        <!-- /.card-body -->
                        </form>
                    </div>
                </div>
            </div>
            {% if messages %}
                {% include 'crm/includes/messages.html' %}
            {% endif %} 
        </div>
        {% if result %}
        <!-- /.row (main row) -->
        <div class="col-12">
            <!-- <div class="callout callout-info">
              <h5><i class="fas fa-info"></i> Note:</h5>
              This page has been enhanced for printing. Click the print button at the bottom of the invoice to test.
            </div> -->
            <!-- Main content -->
            <div class="invoice p-3 mb-3">
              <!-- title row -->
              <div class="row">
                <div class="col-12">
                  <h4>
                    <i class="fas fa-globe"></i> Data
                    <small class="float-right">{{ date }}
                  </h4>
                </div>
                <!-- /.col -->
            </div>
            {{ result }}
            {{ result2 }}
              <!-- Table row -->
              <div class="row">
                <div class="col-12 table-responsive">
                  <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Partida</th>
                            <th>Descripción</th>
                            <th>Cantidad</th>
                            <th>Precio unitario</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                            
                            {% for data in result %}
                            <tr>
                                <td>{{data.2}}</td>
                                <td>{{data.3}} {{data.4}} {{data.5}}</td>
                                <td><span class="tag tag-success">{{data.6}}</span></td>
                                <td>${{data.7}}</td>
                                <td>${{data.8}}</td>
                            </tr>
                            {% endfor %}
                            <tr>
                              <td></td>
                              <td>COSTO DE ENVÍO</td>
                              <td>1</td>
                              <td>${{costo_envio}}</td>
                              <td>${{costo_envio}}</td>
                            </tr>
                        </tbody>
                  </table>
                </div>
                <!-- /.col -->
              </div>
            </div>
            <!-- /.invoice -->
          </div>
        
          {% endif %}
    </div><!-- /.container-fluid -->
</section>
{% endblock %}