{% extends 'crm/baseCrm.html' %}
{% block content %}
<section class="content">
    <div class="container-fluid">
    <!-- Main row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
            <div class="card-header">
                <h3 class="card-title">Usuarios</h3>
                <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                    <div class="input-group-append">
                    </div>
                </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                        <th>Id Solicitud</th>
                        <th>Id Usuario</th>
                        <th>Fecha</th>
                        <th>N/A</th>
                        <th>N/A</th>
                        <th>Estado</th>
                        <th>N/A</th>
                        <th>N/A</th>
                        <th>N/A</th>
                        <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% if myresult %}
                          {% for row in myresult %}
                          <tr>
                              <td>{{row.0}}</td>
                              <td>{{row.1}}</td>
                              <td>{{row.2}}</td>
                              <td>{{row.3}}</td>
                              <td><span class="tag tag-success">{{row.4}}</span></td>
                              <td>{{row.5}}</td>
                              <td>{{row.6}}</td>
                              <td>{{row.7}}</td>
                              <td>{{row.8}}</td>
                              <td>{{row.9}}</td>
                          </tr>
                          {% endfor %}
                      {% endif %}
                  </tbody>
                </table>
              </div>
            <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    <div class="row">
        <!-- Left col -->
        <section class="col-lg-8 connectedSortable">
        <!-- Custom tabs (Charts with tabs)-->
        
        <!-- /.card -->
        </section>
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-4 connectedSortable">

        </section>
        <!-- right col -->
    </div>
    <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>
{% endblock %}